[build]
  command = "npm run build"
  publish = ".next"

[functions]
  node_bundler = "esbuild"
  included_files = [
    "content/services/**",
    "content/about/**"
  ]

[[plugins]]
  package = "@netlify/plugin-nextjs"
